/* CSS Document */

body, html {
	width: 100%;
	min-height: 100%;
	position: relative;
	margin:0;
	padding:0;
	overflow-x: hidden;
	background-image:url(../img/nav-background.gif);
}

.userInfo {
	display:inline-block;
	position:static;
	float:left;
	width:20%;
	height: 100%;
	min-height: 570px;
	background-image:url(../img/discoverbg1.jpg);
	background-size: 100% 100%;
	margin-left:-8px;
	margin-top:-8px;
	text-align:center;
	padding-bottom:40px;
	border-right: 2px solid #FFF;
}

/*
.userInfo:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}
*/
.userInfo .info {
	display:inline-block;
	width:200px;
	height:200px;
	background-color:#696;
	margin-top:50px;
	border: 1px solid #FFF;
}

.userInfo .info .userAvatar {
	display: inline-block;
	float:left;
    position: relative;
    background-color: #888;
    width: 200px;
    height: 200px;
}

.userInfo .info .userAvatar span {
    font-family: 'Roboto Slab', Tahoma;
    font-size:20px;
    color: #FFF;
    position:absolute;
    left: 10px;
    bottom: 10px;
    word-break:break-all;
    margin-right: 10px;
}

.userInfo .info .userAvatar a {
    color: #FFF;
    text-decoration: none;
}

.userInfo .info .userAvatar img {
	width: 100%;
	height: 100%;
}

.userInfo .showMe {
	margin-top: 30px;
	font-family: 'Roboto Slab', Tahoma;
	font-size:14px;
	width: 200px;
	display: inline-block;
	margin: auto;
	color: #FFF;
}

.userInfo .showMe .btnShow {
	background-color: transparent;
	color: #FFF;
	width:70px;
	height:32px;
	border: 2px solid #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: border 1s ease;
	-o-transition: border1s ease;
	-webkit-transition: border 1s ease;
	-moz-transition: border 1s ease;
	transition: background-color 2s ease;
	-o-transition: background-color 2s ease;
	-webkit-transition: background-color 2s ease;
	-moz-transition: background-color 2s ease;
	transition: color 1s ease;
	-o-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
}

.userInfo .showMe .btnShow:hover {
	border: 2px solid #1fa3ff;
	background-color: #FFF;
	color: #1fa3ff;
}

.userInfo .showMe .btnShow.select {
	border: 2px solid #1fa3ff;
	background-color: #FFF;
	color: #1fa3ff;
}

.userInfo .showMe .btnShow span {
	display:inline-block;
	vertical-align:middle;
	line-height: 32px;
}

.newsInfo {
	display:inline-block;
	float:left;
	margin-left:0px;
	margin-top: 0px;
	margin-bottom:65px;
	width: 60%;
	min-height: 92%;
	height: auto;
	background-image:url(../img/nav-background.gif);
}

.newsInfo .friendNews-block {
	width: 49%;
	height:200px;
	display:inline-block;
	float:left;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	font-family: 'Roboto Slab', Tahoma;
	color: #FFF;
	padding-right: 6px;
}

.newsInfo .friendNews-block .friendNews-block-avatar{
	width: 200px;
	height:200px;
	display: inline-block;
	float:left;
	cursor: pointer;
	position:relative;
    background-color: #888;
}

.newsInfo .friendNews-block .friendNews-block-avatar span {
	font-family: 'Roboto Slab', Tahoma;
	font-size:20px;
	color: #FFF;
	position:absolute;
	left: 10px;
	bottom: 10px;
	word-break:break-all;
	margin-right: 10px;
	display: none;
}

.newsInfo .friendNews-block .friendNews-block-avatar span a {
    text-decoration: none;
    color: #FFF;
}

.newsInfo .friendNews-block .friendNews-block-avatar img:hover{
	opacity: 0.6;
}

.newsInfo .friendNews-block .friendNews-block-avatar img {
	width: 100%;
	height: 100%;
}

.newsInfo .friendNews-block .friendNews-block-content {
	background-color:transparent;
	width: 48%;
	height:100%;
	display:inline-block;
	float:left;
	border-left: 1px solid #FFF;
    position: relative;
}

.newsInfo .friendNews-block .friendNews-block-content .time-content {
	margin-top:15px;
	margin-left: 10px;
	margin-right:10px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #fff;
	font-size:70%;
}

.newsInfo .friendNews-block .friendNews-block-content .time-content span a {
    color: #fff;
}

.newsInfo .friendNews-block .friendNews-block-content .content-content {
	margin-left:10px;
	font-size:85%;
	height: 113px;
	overflow-y: hidden;
	display:inline-block;
	float:left;
	clear: both;
    cursor: pointer;
}

.newsInfo .friendNews-block .friendNews-block-content .content-content pre {
    height: 65px;
    font-family: "Roboto Slab", Tahoma;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    overflow: hidden;
}

.newsInfo .friendNews-block .friendNews-block-content .content-content img {
    width: 90px;
    height: auto;
}

.newsInfo .friendNews-block .friendNews-block-content .content-content:after {
    position: absolute;
    content: 'Chi tiết ...';
    font-size: 10px;
}

.newsInfo .friendNews-block .friendNews-block-content .content-content.hidden:after {
    display: none;
}

.newsInfo .friendNews-block .friendNews-block-content .content-like-comment-share {
	border-top: 1px dotted #FFF;
    border-bottom: 1px dotted #FFF;
    padding-top: 3px;
	font-size: 80%;
	margin-left:10px;
	width:90%;
    font-size: 10px;
    display: inline-block;
    float: left;
    margin-top: 2px;
}

.newsInfo .friendNews-block .friendNews-block-content .content-like-comment-share span {
    font-size: 10px;
}

.newsInfo .friendNews-block .friendNews-block-content .content-like-comment-share a{
	text-decoration: none;
	color: #FFF;
	margin-right:3px;
}

.newsInfo .friendNews-block .friendNews-block-content .content-like-comment-share img {

}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block {
    margin-left: 2%;
    display: inline-block;
    float: left;
    margin-top: 4px;
    width: 98%;
    display: none;
    padding-bottom: 11px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-block-content {
    display: inline-block;
    float: left;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content {
    display: inline-block;
    float: left;
    width: 95%;
    font-size: 11px;;
    border-bottom: 1px solid #ddd;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .user-avatar {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .user-avatar img {
    width: 100%;
    height: 100%;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail {
    display: inline-block;
    float: left;
    width: 450px;
    margin-left: 5px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail .user-name {
    display: inline-block;
    float: left;
    font-size: 13px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail .comment-time {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail .comment-content-detail {
    margin-top: 5px;
    float: left;
    display: inline-block;
    width: 100%;
    min-height: 40px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail .comment-like {
    display: inline-block;
    float: left;
    padding-bottom: 2px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-content .comment-detail .comment-like a {
    text-decoration: none;
    color: #FFF;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-compose {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 4px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-compose .user-avatar {
    width: 60px;
    height: 60px;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-compose textarea {
    border: 1px solid #fff;
    font-family: "Roboto Slab";
    width: 428px;
    height: 52px;
    padding-top: 4px;
    padding-left: 4px;
    margin-left: 4px;
    display: inline-block;
    float: left;
}

.newsInfo .friendNews-block .friendNews-block-content  .comment-block .comment-compose input[type="button"]{
    border: 2px solid #1fa3ff;
    background-color: #FFF;
    color: #1fa3ff;
    width: 75px;
    height: 60px;
    font-family: "Roboto Slab";
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

.newsInfo .placeNews {
    margin-bottom: 22px;
    height: auto;
    display: inline-block;
}

.newsInfo .placeNews-block {
	width: 100%;
	height: auto;
	/*min-height: 200px;*/
	border-bottom: 2px solid #FFF;
    display: inline-block;
    float: left;
}

.newsInfo .placeNews-block .placeNews-block-avatar {
	height:200px;
	width:200px;
	display:inline-block;
	float:left;
	position:relative;
    cursor: pointer;
}

.newsInfo .placeNews-block .placeNews-block-avatar img {
	width: 100%;
	height: 100%;
}

.newsInfo .placeNews-block .placeNews-block-avatar span {
	font-family: 'Roboto Slab', Tahoma;
	font-size:20px;
	color: #FFF;
	position:absolute;
	left: 0px;
	bottom: 0px;
	word-break:break-all;
	padding-left: 5%;
	padding-bottom: 2%;
	background-color: #333;
	width: 95%;
	opacity: 0.5;
}

.newsInfo .placeNews-block .placeNews-block-avatar span a {
    text-decoration: none;
    color: #FFF;
}

.newsInfo .placeNews-block .placeNews-block-content {
	font-family: "Roboto Slab", Tahoma;
	font-size: 14px;
	display: inline-block;
	float:left;
	color: #FFF;
	padding-top: 10px;
	padding-left: 10px;
	width: 70%;
    border-left: 1px solid #FFF;
}

.newsInfo .placeNews-block .placeNews-block-content .time-content {
	width: 90%;
	display: inline-block;
	float:left;
	border-bottom: 1px dotted #FFF;
	padding-bottom:2px;
}

.newsInfo .placeNews-block .placeNews-block-content .content-content {
	width: 90%;
	display:inline-block;
	float:left;
	min-height: 142px;
}

.newsInfo .placeNews-block .placeNews-block-content .content-content .status-place-image {
    margin-left: -4px;
    display: inline-block;
    float: left;
    padding-top: 5px;
}

.newsInfo .placeNews-block .placeNews-block-content .content-content .status-place-image img {
    max-width: 600px;
    height: auto;
    margin-right: 10px;
}

.newsInfo .placeNews-block .placeNews-block-content .content-content .status-place-name {
    display: inline-block;
    float: left;
    clear: both;
}

.hashtag {
    color: #1fa3ff;
    cursor: pointer;
}

.newsInfo .placeNews-block .placeNews-block-content .content-content .status-place-des {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
    min-width: 190px;
    word-wrap: break-word;
    clear: both;
}

.newsInfo .placeNews-block .placeNews-block-content .content-like-comment-share {
	display: inline-block;
	float:left;
	border-top: 1px dotted #fff;
	padding-top:2px;
	width: 90%;
}

.newsInfo .placeNews-block .placeNews-block-content .content-like-comment-share a {
	text-decoration: none;
	color: #FFF;
	padding-right: 10px;
}


.newsInfo .placeNews-block .placeNews-block-content  .comment-block {
    margin-left: 2%;
    display: inline-block;
    float: left;
    margin-top: 4px;
    width: 110%;
    display: none;
    padding-bottom: 11px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-block-content {
    display: inline-block;
    float: left;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content {
    display: inline-block;
    float: left;
    width: 95%;
    font-size: 11px;;
    border-bottom: 1px solid #ddd;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .user-avatar {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .user-avatar img {
    width: 100%;
    height: 100%;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail {
    display: inline-block;
    float: left;
    width: 450px;
    margin-left: 5px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail .user-name {
    display: inline-block;
    float: left;
    font-size: 13px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail .comment-time {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail .comment-content-detail {
    margin-top: 5px;
    float: left;
    display: inline-block;
    width: 100%;
    min-height: 40px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail .comment-like {
    display: inline-block;
    float: left;
    padding-bottom: 2px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-content .comment-detail .comment-like a {
    text-decoration: none;
    color: #FFF;
}

.newsInfo .placeNews-block .placeNews-block-content .comment-block .comment-compose {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 4px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-compose .user-avatar {
    width: 60px;
    height: 60px;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-compose textarea {
    border: 1px solid #fff;
    font-family: "Roboto Slab";
    width: 428px;
    height: 52px;
    padding-top: 4px;
    padding-left: 4px;
    margin-left: 4px;
    display: inline-block;
    float: left;
}

.newsInfo .placeNews-block .placeNews-block-content  .comment-block .comment-compose input[type="button"]{
    border: 2px solid #1fa3ff;
    background-color: #FFF;
    color: #1fa3ff;
    width: 75px;
    height: 60px;
    font-family: "Roboto Slab";
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-left: 5px;
}

.suggestion {
	display: inline-block;
	width: 20%;
	min-height: 570px;
	height: auto;
	margin-top:-6px;
	margin-left:2px;
	background-image:url(../img/discoverbg1.jpg);
	background-size: 100% 100%;
	font-family: "Roboto Slab", Tahoma;
	font-size: 14px;
	color: #fff;
	text-align:center;
	padding-top:10px;
	padding-bottom:40px;
}

.suggestion .highlights {
	width: 100%;
	float:left;
	margin-top: -2px;
	border-top: 1px solid #FFF;
	text-align:left;
	padding-left: 10px;
	margin-bottom: 5px;
}

.suggestion .highlights .place-place {
	display: inline-block;
	float:left;
	width: 93%;
	height: 70px;
	background-color: darkslategrey;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.suggestion .highlights .place-place.last {
	border-bottom: 1px solid #fff;
}

.suggestion .highlights .place-place .place-place-avatar {
	display: inline-block;
	float: left;
	width: 70px;
	height: 100%;
	background-color: blue;
}

.suggestion .highlights .place-place .place-place-avatar img {
	width: 100%;
	height: 100%;
}

.suggestion .highlights .place-place .place-place-name {
	display: inline-block;
	float:left;
	width: 70%;
	height: 22px;
	padding-top: 2px;
	padding-left:5px;
	font-size: 14px;
	overflow:hidden;
}

.suggestion .highlights .place-place .place-place-name a {
	text-decoration: none;
	max-width: 100%;
	
	color: #fff;
}

.suggestion .highlights .place-place .place-place-type {
	display: inline-block;
	float:left;
	width: 60%;
	padding-top: 2px;
	padding-left:5px;
	font-size: 10px;	
}

.suggestion .highlights .place-place .place-place-like-number {
	display: inline-block;
	float:left;
	width: 60%;
	padding-top: 2px;
	padding-left:5px;
	font-size: 13px;
	margin-top: 5px;
}

.footer {
	display:inline-block;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:62px;
	/*background-color:#093;*/
    background: url("../img/back_yellow.png");
}

.footer .zess-logo {
    width: 150px;
    height: 100%;
    border: 1px solid #FFF;
    display: inline-block;
    float: left;
}

.footer .search {
    display: inline-block;
    float: left;
    margin-left: 50px;
    width: 500px;
    height: 100%;
    vertical-align: middle;
    padding-top: 15px;
    position: relative;
}

.footer .search i {
    position: absolute;
    padding: 10px;
    background: url("../img/search1.png") no-repeat;
    top: 23px;
    left: 10px;
}

.footer .search input {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 30px;
    border: 2px solid #FFF;
    padding-left: 35px;
    font-family: "Roboto Slab", Tahoma;
    font-size: 14px;
    background-color: #333333;
    color: #FFF;
    border-radius: 5px;

}

.footer .search-block {
    font-family: "Roboto Slab", Tahoma;
    position: absolute;
    bottom: 45px;
    left: 202px;
    background-image: url("../img/discoverbg1.jpg");
    background-size: 100% 100%;
    border: 1px solid;
    font-size: 13px;
    width: 536px;
    display: none;
}

.footer .search-block .search-block-content {
    width: 100%;
    display: inline-block;
    float: left;
}

.footer .search-block .search-block-content .search-header {
    height: 25px;
    display: inline-block;
    float: left;
    text-align: left;
    width: 526px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: #3a87ad;
    cursor: pointer;
}

.footer .search-block .search-block-content .search-content {
    width: 100%;
    height: 70px;
    display: inline-block;
    float: left;
    text-align: left;
    border-bottom: 1px solid #fff;
}

.footer .search-block .search-block-content .search-content:hover {
    background-color: #446388;
    cursor: pointer;
}

.footer .search-block .search-block-content .search-content .search-content-avatar {
    display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
}

.footer .search-block .search-block-content .search-content .search-content-avatar img {
    width: 100%;
    height: 100%;
    border-right: 1px solid #FFF;
}

.footer .search-block .search-block-content .search-content .search-content-name {
    display: inline-block;
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}

.footer .search-block .search-block-content .search-content .search-content-name a, .footer .search-block .search-block-content .search-content .search-content-name span {
    display: block;
}

.footer .search-block a {
    color: #CCC;
    text-decoration: none;
}

.footer .footer-menu {
    height: 100%;
    display: inline-block;
    float: left;
    margin-left: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Slab", Tahoma;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.footer .footer-menu:before, .footer .footer-menu .menu-home:before, .footer .footer-menu .menu-me:before {
    content: "";
    display:  inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer .footer-menu .menu-home{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 58px;
    border-top: 5px solid transparent;
    -webkit-transition: border-top 1s ease;
    -moz-transition: border-top 1s ease;
    -ms-transition: border-top 1s ease;
    -o-transition: border-top 1s ease;
    transition: border-top 1s ease;
    cursor: pointer;
}

.footer .footer-menu .menu-home:hover {
    border-top: 5px solid rgb(31, 163, 255);
}

.footer .footer-menu .menu-me {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 58px;
    border-top: 5px solid transparent;
    cursor: pointer;
    -webkit-transition: border-top 1s ease;
    -moz-transition: border-top 1s ease;
    -ms-transition: border-top 1s ease;
    -o-transition: border-top 1s ease;
    transition: border-top 1s ease;

}

.footer .footer-menu .menu-me:hover {
    border-top: 5px solid rgb(31, 163, 255);
}

.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    text-align: center;
    display: none;
}

